{% extends 'base.html' %}

{%block content%}

<form action="">
        <h1 style="text-align:center;">CONTACT APP MANAGEMENT</h1>
        <h1 style="color: blue">
        <button type="submit"><a href="register">register</a></button>
        </h1>
         <h1 style="color: blue">
          <button type="submit"><a href="login">login</a></button>
        </h1>
        </h1>
         <h1 style="color: blue">
          <button type="submit"><a href="logout">logout</a></button>
        </h1>
</form>

{%endblock%}