{% extends 'base.html'%}
{%block content%}
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name ='namess' placeholder="first_name"><br>
    <input type="text" name ='surname' placeholder="last_name"><br>
    <input type ="text" name='password' placeholder="password"><br>
     <input type="text" name = 'email' placeholder="email"><br>
    <input type = "text" name= 'phone' placeholder="phone Number"><br>
    <input type = "text" name= 'address' placeholder="address"><br>
    <input type="text" name = 'confirmPassword' placeholder="confirm password"><br>
    <input type="submit" >
    </form>
<div>
    {%for message in messages%}
    <h3>{{message}}</h3>
    {%endfor%}
</div>
{%endblock%}